@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<li>
    <a>
        <span class="image"><img src="~/Admin/build/images/img.jpg" alt="Profile Image" /></span>
        <span>
            <span>Enes Avcı</span>
            <span class="time">1 Gün Önce</span>
        </span>
        <span class="message">
            İnşaatınızda kapı,pencere,pvc,işlerinin yapım ve montaj işlerini yapmak istiyorum.
        </span>
    </a>
</li><br />
<li>
    <a>
        <span class="image"><img src="~/Admin/build/images/img.jpg" alt="Profile Image" /></span>
        <span>
            <span>Enes Binici</span>
            <span class="time"> 2 Gün Önce</span>
        </span>
        <span class="message">
            Klima alım,satım ve montaj işlerini yapmak isterim
        </span>
    </a>
</li>
<br />
<li>
    <a>
        <span class="image"><img src="~/Admin/build/images/img.jpg" alt="Profile Image" /></span>
        <span>
            <span>İbrahim Taşalan</span>
            <span class="time">1 gün Önce</span>
        </span>
        <span class="message">
            Askeriyemizde yapmış olduğunuz inşaat çalışmanızda eksikler vardır bir an önce düzeltilmesini istiyotum
    </a>
</li>
<br />
<li>
    <a>
        <span class="image"><img src="~/Admin/build/images/img.jpg" alt="Profile Image" /></span>
        <span>
            <span>Mücahit Avcı</span>
            <span class="time">1 gün önce</span>
        </span>
        <span class="message">
            inşaatımızdaki doğalgaz işlemleri bitmiştir
        </span>
    </a>
</li>
<br />

<li>
    <a>
        <span class="image"><img src="~/Admin/build/images/img.jpg" alt="Profile Image" /></span>
        <span>
            <span>Vinç</span>
            <span class="time">5gün önce</span>
        </span>
        <span class="message">
           Vinç montajı yapıldı .
        </span>
    </a>
</li>
<br />
<li>
    <a>
        <span class="image"><img src="~/Admin/build/images/img.jpg" alt="Profile Image" /></span>
        <span>
            <span>Alparslan Kaçar</span>
            <span class="time">6 gün önce</span>
        </span>
        <span class="message">
           Karaköprüde yapmış olduğumuz inşaatta eksikler giderildi
        </span>
    </a>
</li>
<br />
<li>
    <a>
        <span class="image"><img src="~/Admin/build/images/img.jpg" alt="Profile Image" /></span>
        <span>
            <span>Mermer</span>
            <span class="time">7 gün önce</span>
        </span>
        <span class="message">
           Mutfakta yapmış olduğumuz tezgahların eksiklikleri giderildi.
        </span>
    </a>
</li>
<br />