@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="profile_pic">
    <img src="~/UI/img/eminlogo.jpeg" alt="..." class="img-circle profile_img">
</div>
<div class="profile_info">
    <p>Hoşgeldiniz,</p>
    <p>Mehmet Emin Şekatlıoğlu</p>
    <p>Telefon No : 0 (542) 663 1002</p>

</div>
<div class="clearfix"></div>
