@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<section class="inner-page">
    <div class="slider-item py-5" style="background-image: url('/UI/img/slider-2.jpg');">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center text-center">
                <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated">
                    <h1 class="text-white">BAŞKANIN MESAJI</h1>
                </div>
            </div>
        </div>

    </div>
</section>
<br />


<div id="main" class="sidebar-right sidebar-divider-off">
    <div class="main-gradient"></div>
    <div class="wf-wrap">
        <div class="wf-container-main">
            <div id="content" class="content" role="main">
                <article id="post-1746" class="post-1746 post type-post status-publish format-standard category-kurumsal category-17 description-off">
                    <div class="entry-content">
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <h1 style="font-size: 45px;color: #1f365c;text-align: left" class="vc_custom_heading">HEDEF, DÜNYA ÇAPINDA EN İYİ OLMAK</h1><div class="hr-thin style-line hr-left" style="width: 680px;border-color: #ffb536;border-top-width: 3px;"></div><div class="vc_row wpb_row vc_inner vc_row-fluid">
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner ">
                                                    <div class="wpb_wrapper">
                                                        <div class="wpb_text_column wpb_content_element  vc_custom_1548243011450">
                                                            <div class="wpb_wrapper">
                                                                <p>&nbsp;</p>
                                                                <p>​<strong>Kökleri, 1978 yılına uzanan Şefkat Holding, güçlü ve dinamik yapısıyla bugün 35 şirkete ulaşmıştır</strong>.</p>
                                                                <p>Özellikle inşaat, enerji ve madencilik alanında istikrarlı büyümesini sürdüren Şefkat Holding’in asla vazgeçmeyeceği yenilikçi yapısını, belki bir metroya bindiğinizde, belki de bir havayolu seyahatinizde göreceksiniz.</p>
                                                                <p>İstanbul’daki Taksim-4.&nbsp;Levent metrosunu yaparak&nbsp;Türkiye’yi metro ile tanıştırmanın mutluluğunu yaşadık. Dünyanın üçüncü, Türkiye ve Avrupa’nın ilk deniz üstü havalimanı olan Ordu Giresun Havalimanı’nı belirlenenden çok daha kısa sürede tamamladık. Bu bölgeye yapacağınız seyahatte, uçağınız denizin ortasındaki piste indiğinde, her bireyi Şefkat Holding ailesinin bir üyesi sayılan işçilerinin, mühendislerinin çalışma azminin sonuçlarını görebilirsiniz.</p>
                                                                <p><strong>Kurulduğumuz günden bu yana daima en iyi olmayı hedefleyerek devam ettiğimiz yolumuzda, en iyi, en büyük, en çok ses getiren projelere imza atmaya devam edeceğiz</strong>.</p>
                                                                <p>Bu vizyonla, en büyük projelerimizden biri olan İstanbul Havalimanı (YİD) Yap-İşlet-Devret Projesi’nin yapımını ve 25 yıllık işletme hakkını liderliğimizde kurulmuş Ortak Girişim Grubu ile 2013 yılında kazandık. Proje tamamlandığında, 150 milyon yolcu kapasitesi ile dünyanın en büyük havalimanlarından biri olacak. Şefkat Holding olarak, sadece inşaat alanında değil, faaliyet gösterdiğimiz enerji ve madencilik sektöründe de Türkiye’nin gurur duyacağı projelere imza atmaya devam etmekteyiz.​​​</p>
                                                                <p>Samsun’da kurduğumuz doğalgaz çevrim santralini 2015 yılının Ocak ayında açtığımızda, 2 ayrı rekora imza attık: Almanya’da bulunan verimlilik rekorunu Samsun’a getirdik. Santrali, zamanından 9 ay önce tamamlayarak “En kısa sürede inşa edilen santral” rekorunu da kırdık. Çevreci yanıyla dünya standartlarının çok üzerinde olan santral, Avrupa, Ortadoğu ve Afrika Bölgesi’nin enerjideki büyük ödülünü Türkiye’ye getirdi. ​</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner ">
                                                    <div class="wpb_wrapper">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>&nbsp;</p>
                                                                <p>Enerji sektöründe devam eden atılımlarımız ayrıca elektrik dağıtımı alanında da gerçekleştirdiğimiz güçlü ort​​aklıklar ile devam etmektedir. Bugün, 4 elektrik dağıtım bölgesinde Türkiye’nin elektrik ihtiyacının yaklaşık %30’unu karşılamaktayız. ​​​</p>
                                                                <p>Madencilik alanında ise kapanmak üzereyken bünyemize dahil ettiğimiz ve işletilmesi mucizelere bağlı olan Eti Bakır A.Ş. ve Eti Alüminyum A.Ş. işletmelerini baştan sona en son teknoloji ile yeniledik ve Türkiye’nin sanayi devleri arasına soktuk. Bugün Eti Bakır A.Ş., Türkiye’nin cevherden bakır üreten tek izabe tesisi.​​​</p>
                                                                <div class="yazi">
                                                                    <p>Eti Alüminyum A.Ş. ise ülkemizin cevherden alüminyum elde eden tek entegre fabrikası. İstanbul Sanayi Odası’nın açıkladığı Türkiye’nin 500 Büyük Sanayi Kuruluşu listesinde yer alan şirketlerimiz, çevre hassasiyeti ve iş güvenliğini de üst seviyelerde tutarak çalışmalarına devam etmektedir.​​​</p>
                                                                    <p><strong>Güven, kalite, hizmet anlayışının eksiksiz olarak uygulandığı büyük Şefkat Holding Ailesi’nin her bir ferdi, bilgi birikimi, eğitimi, insani değerlere ve çevreye olan hassas yaklaşımı ile çalışmalarına devam etmektedir.​​​</strong></p>
                                                                    <p>Faaliyet gösterdiğimiz tüm sektörlerde sadece lider değil öncü olmayı hedeflerken, yurt dışında da bu başarılarımızı tekrarlayarak ülkemize artı değerler kazandıracak küresel bir marka olmayı amaçlıyoruz.</p>
                                                                    <p>Şefkat Holding’in, çalışma ilkelerine olan bağlılığı ve büyük bir aile olarak uyum içinde çalışan değerli personeli ile tüm hedeflerine ulaşacağına inancım tamdır.​</p>
                                                                    <br />
                                                                    
                                                                    
                                                                    <p>
                                                                        <strong>Mehmet Emin Şefaktlıoğlu</strong><br>
                                                                        <strong>Yönetim Kurulu Başkanı</strong>
                                                                    </p>
                                                                    <br /><br />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div><!-- #content -->
           <!-- #sidebar -->

        </div><!-- .wf-container -->
    </div><!-- .wf-wrap -->
</div>

<section class="section border-t">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate fadeInUp element-animated">
            <div class="col-md-8 text-center mb-5">
                <h2 class="text-uppercase heading border-bottom mb-4">YÖNETİCİLERİMİZ</h2>
                <p class="mb-0 lead">
                    Geleceğe emin adımlar ile yürüyen Şefkat İnşaat projelerini keşfedin.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 element-animate fadeInUp element-animated">
                <div class="media d-block media-testimonial text-center">
                    <img src="~/UI/img/eminlogo.jpeg" alt="Image placeholder" class="img-fluid mb-3">
                    <p>Mehmet Emin Şefkatlıoğlu, <a href="#"></a></p>
                    <div class="media-body">
                        <blockquote>
                            <p>“ 1972 yılından itibaren faaliyet gösterdiğimiz sektörde önce taahhüt işleri sonrasında ise İstanbul merkezli konut ve ticari binalar yapmaya başladık. İlk dönemlerde ortaklık şeklinde devam eden inşaatlarımızı 1983 yılından itibaren ŞEFKAT İNŞAAT A.Ş’yi kurarak devam ettirdik.”</p>
                        </blockquote>

                    </div>
                </div>
            </div>

            <div class="col-md-6 element-animate fadeInUp element-animated">
                <div class="media d-block media-testimonial text-center">
                    <img src="~/UI/img/kanbazlogo.jpg" alt="Image placeholder" class="img-fluid mb-3">
                    <p>Mehmet Kanbaz, <a href="https://twitter.com/EminSefkatli"></a></p>
                    <div class="media-body">
                        <blockquote>
                            <p>“İlk dönemlerde ortaklık şeklinde devam eden inşaatlarımızı 1983 yılından itibaren ŞEFKAT İNŞAAT A.Ş’yi kurarak devam ettirdik.”.”</p>
                        </blockquote>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
