
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="home-slider inner-page owl-carousel owl-loaded owl-drag">



    <div class="owl-stage-outer">
        <div class="owl-stage" style="transform: translate3d(-3058px, 0px, 0px); transition: all 0s ease 0s; width: 7646px;">
            <div class="owl-item cloned" style="width: 1519.2px; margin-right: 10px;">
                <div class="slider-item" style="background-image: url('~/UI/img/slider-1.jpg');">

                    <div class="container">
                        <div class="row slider-text align-items-center justify-content-center text-center">
                            <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated">
                                <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Şirket Haberleri</font></font></h1>
                            </div>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item cloned" style="width: 1519.2px; margin-right: 10px;">
                <div class="slider-item" style="background-image: url('~/UI/img/slider-1.jpg');">

                    <div class="container">
                        <div class="row slider-text align-items-center justify-content-center text-center">
                            <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated">
                                <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Şirket Haberleri</font></font></h1>
                            </div>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item" style="width: 1519.2px; margin-right: 10px;">
                <div class="slider-item" style="background-image: url('~/UI/img/slider-1.jpg');">

                    <div class="container">
                        <div class="row slider-text align-items-center justify-content-center text-center">
                            <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated">
                                <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Şirket Haberleri</font></font></h1>
                            </div>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item cloned active" style="width: 1519.2px; margin-right: 10px;">
                <div class="slider-item" style="background-image: url('~/UI/img/slider-1.jpg');">

                    <div class="container">
                        <div class="row slider-text align-items-center justify-content-center text-center">
                            <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated">
                                <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Şirket Haberleri</font></font></h1>
                            </div>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item cloned" style="width: 1519.2px; margin-right: 10px;">
                <div class="slider-item" style="background-image: url('~/UI/img/slider-1.jpg');">

                    <div class="container">
                        <div class="row slider-text align-items-center justify-content-center text-center">
                            <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated">
                                <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Şirket Haberleri</font></font></h1>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div><div class="owl-nav disabled"><button role="presentation" class="owl-prev"><span class="ion-chevron-left"></span></button><button role="presentation" class="owl-next"><span class="ion-chevron-right"></span></button></div><div class="owl-dots disabled"><button class="owl-dot active"><span></span></button></div>
</section>






<section class="inner-page">
    <div class="slider-item py-5" style="background-image: url('/UI/img/slider-1.jpg');">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center text-center">
                <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated">
                    <h1 class="text-white">Bize Ulaşın</h1>
                </div>
            </div>
        </div>

    </div>
</section>
<br />


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="fname"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">İlk adı</font></font></label>
                            <input type="text" class="form-control form-control-lg" id="fname">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="lname"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Soy isim</font></font></label>
                            <input type="text" class="form-control form-control-lg" id="lname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="email"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E-posta</font></font></label>
                            <input type="email" id="email" class="form-control form-control-lg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="phone"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Telefon</font></font></label>
                            <input type="text" id="phone" class="form-control form-control-lg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="message"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Şirketiniz hakkında söyleyin</font></font></label>
                            <textarea name="message" id="message" class="form-control form-control-lg" cols="30" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="message2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Proje hakkında daha fazla bilgi</font></font></label>
                            <textarea name="message2" id="message2" class="form-control form-control-lg" cols="30" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="submit" value="Mesaj gönder" class="btn btn-primary btn-lg btn-block"></font></font>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <h2 class="text-uppercase heading mb-5 text-left "><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Müşteriler diyor</font></font></h2>

                <div class="media d-block media-testimonial mb-5 text-left">
                    <img src="~/UI/img/person_1.jpg" alt="Resim yer tutucusu" class="img-fluid mb-3">
                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Jale, </font></font><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">XYZ Inc.</font></font></a></p>
                    <div class="media-body">
                        <blockquote>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">“Depreme dayanıklı ve sağlam yapılar . </font><font style="vertical-align: inherit;">“Güven, Kalite, Hizmet” değerlerimizin, tüm faaliyetlerimizde eksiksiz yer almasını sağlamak..”</font></font></p>
                        </blockquote>

                    </div>
                </div>

                <div class="media d-block media-testimonial text-left">
                    <img src="~/UI/img/eminlogo.jpeg" alt="Resim yer tutucusu" class="img-fluid mb-3">
                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Emin Şefkatlıoğlu, </font></font><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">XYZ Inc.</font></font></a></p>
                    <div class="media-body">
                        <blockquote>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">““Güven, Kalite, Hizmet” değerlerimizin, tüm faaliyetlerimizde eksiksiz yer almasını sağlamak. </font><font style="vertical-align: inherit;">Ülkemizde gösterdiğimiz başarılara, yurt dışı projelerimizle yenilerini ekleyip küresel bir marka haline gelerek sadece lider değil, öncü olmak..”</font></font></p>
                        </blockquote>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="section border-t">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate fadeInUp element-animated">
            <div class="col-md-8 text-center">
                <h2 class="text-uppercase heading border-bottom mb-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Son Çalışmalarımızı Görün</font></font></h2>
                <p class="mb-3 lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Türkiye’de, kendini pek çok başarılı proje ile kanıtlamış bir kurum olan Şefkat İnşaat, aynı başarı ivmesini yurt dışı projeleriyle de yakaladı. </font><font style="vertical-align: inherit;"></font></font></p>
                <p><a href="@Url.Action("Iletisim","Home")" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tüm Çalışmaları Görüntüle</font></font></a></p>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-4 element-animate fadeInUp element-animated">
                <a href="works-single.html" class="link-thumbnail">
                    <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ahşap Parlatma</font></font></h3>
                    <span class="ion-plus icon"></span>
                    <img src="~/UI/img/work_thumb_1.jpg" alt="Resim yer tutucusu" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 element-animate fadeInUp element-animated">
                <a href="works-single.html" class="link-thumbnail">
                    <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Genel İnşaat Binası</font></font></h3>
                    <span class="ion-plus icon"></span>
                    <img src="~/UI/img/work_thumb_2.jpg" alt="Resim yer tutucusu" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 element-animate fadeInUp element-animated">
                <a href="works-single.html" class="link-thumbnail">
                    <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ev Yenileme</font></font></h3>
                    <span class="ion-plus icon"></span>
                    <img src="~/UI/img/work_thumb_3.jpg" alt="Resim yer tutucusu" class="img-fluid">
                </a>
            </div>
        </div>

    </div>
</section>