@model Sefkat.Entity.Ayarlar

<section class="inner-page">
    <div class="slider-item py-5" style="background-image: url('/UI/img/slider-2.jpg');">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center text-center">
                <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated">
                    <h1 class="text-white">HAKKIMIZDA</h1>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 order-lg-3 mb-5">
                <img src="~/UI/img/slider-1.jpg" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-md-1 order-lg-2"></div>
            <div class="col-md-5 order-lg-1">
                <h2 class="text-uppercase heading mb-4">TARİHÇE</h2>
                <p class="mb-3">1972 yılında dünya standartlarında, kaliteli ve modern yapılar inşa etme misyonuyla kurulan Şefkat İnşaat AŞ, 50 yıldır bu misyona uygun olarak projeler geliştirmeye devam etmektedir. Kurucusu Mehmet Emin Şefkatlıoğlu liderliğinde faaliyet gösteren şirketimiz, günümüzde lüks konut, alışveriş merkezi ve modern ofis projeleri dendiğinde ilk akla gelen firmalardan biridir. Şefkat İnşaatA.Ş, 3500'in üzerinde konut, 650'yi aşkın ticari alan ve 6 adet modern ofis ve lüks AVM projelerinin inşaatını tamamlamıştır. Merkezi Şanlıurfa 2. Ulus'ta bulunan firmamız, teknolojiye yatırım yaparak, inşaat sektörü için geliştirilen en son teknolojileri projelerine yansıtmaktadır. Şefkat İnşaatA.Ş, 01.01.2014 tarihinden itibaren; Yönetim Kurulu Başkanı Mehmet Emin Şefaktlıoğlu yönetiminde Şanlıurfa'nın marka değerini yükselten projeleriyle faaliyetlerine devam etmektedir. .</p>

               
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 order-lg-1 mb-5">
                <img src="~/UI/img/slider-2.jpg" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-md-1 order-lg-2"></div>
            <div class="col-md-5 order-lg-3">
                <h2 class="text-uppercase heading mb-4">MİSYONUMUZ</h2>
                <p class="mb-3">Sektöre adım attığı ilk günden itibaren kaliteli projeler yükselten ŞEFKAT İNŞAAT A.Ş, bugün yılların getirdiği birikimle sektöründe ayrıcalıklı bir konuma sahip olmuştur. Misyonu; “Her projede daha ileriye” olan şirketimiz, sürekli gelişim içerisinde olmuş ve ülkesine değer katma amacıyla çalışmaya devam etmiştir. Bugün de bu amaçları doğrultusunda çalışan firmamız, inşaat sektöründe standartları belirleyen konumunu güçlendirmektedir. ŞEFKAT İNŞAAT A.Ş; bu doğrultuda yürüttüğü projelerin tamamında yenilikçi ve modern teknolojileri kullanarak yeni nesil konut ve yapıları inşa etmeye devam edecektir..</p>

               
            </div>

        </div>
        <div class="row mb-5">
            <div class="col-md-6 order-lg-3 mb-5">
                <img src="~/UI/img/work_thumb_1.jpg" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-md-1 order-lg-2"></div>
            <div class="col-md-5 order-lg-1">
                <h2 class="text-uppercase heading mb-4">VİZYONUMUZ</h2>
                <p class="mb-3">ŞEFKAT İNŞAAT A.Ş, “Kaliteli yaşam için kaliteli yapı” felsefesiyle yola çıkmış olup, bu amaca uygun olarak gerçekleştirdiği tüm projelerde yüksek kalitede modern ve estetik yaşamları inşa etmektedir. Şirketimiz; bu doğrultuda şehirlere değer katmakta, müşterilerinin beklentilerine uygun projeler üreterek, satış sonrası koşulsuz memnuniyet hedefindedir. ŞEFKAT İNŞAAT A.Ş bu doğrultuda; teknolojiyi yakından takip ederek projelerine entegre etmeye devam etme, dünya standartında yapılar ortaya koyma ve güvenli yaşam alanları oluşturma vizyonuyla geçmişten bugüne kaliteli yaşam için çalışmaya devam etmektedir. .</p>


            </div>

        </div>
    </div>
</section>


<section class="section border-t">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate fadeInUp element-animated">
            <div class="col-md-8 text-center mb-5">
                <h2 class="text-uppercase heading border-bottom mb-4">YÖETİCİLERİMİZ</h2>
                <p class="mb-0 lead">
                    Geleceğe emin adımlar ile yürüyen Şefkat İnşaat projelerini keşfedin.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 element-animate fadeInUp element-animated">
                <div class="media d-block media-testimonial text-center">
                    <img src="~/UI/img/eminlogo.jpeg" alt="Image placeholder" class="img-fluid mb-3">
                    <p>Mehmet Emin Şefkatlıoğlu, <a href="#"></a></p>
                    <div class="media-body">
                        <blockquote>
                            <p>“ 1972 yılından itibaren faaliyet gösterdiğimiz sektörde önce taahhüt işleri sonrasında ise İstanbul merkezli konut ve ticari binalar yapmaya başladık. İlk dönemlerde ortaklık şeklinde devam eden inşaatlarımızı 1983 yılından itibaren ŞEFKAT İNŞAAT A.Ş’yi kurarak devam ettirdik.”</p>
                        </blockquote>

                    </div>
                </div>
            </div>

            <div class="col-md-6 element-animate fadeInUp element-animated">
                <div class="media d-block media-testimonial text-center">
                    <img src="~/UI/img/kanbazlogo.jpg" alt="Image placeholder" class="img-fluid mb-3">
                    <p>Mehmet Kanbaz, <a href="https://twitter.com/EminSefkatli"></a></p>
                    <div class="media-body">
                        <blockquote>
                            <p>“İlk dönemlerde ortaklık şeklinde devam eden inşaatlarımızı 1983 yılından itibaren ŞEFKAT İNŞAAT A.Ş’yi kurarak devam ettirdik.”.”</p>
                        </blockquote>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="container cta-overlap">
    <div class="text d-flex">
        <h2 class="h3">Projeler İçin veya Teklif Almak İçin Bize Ulaşın</h2>
        <div class="ml-auto btn-wrap">
            <a href="https://wa.me/905426631002?text=Merhaba,Şefkat inşaattan ulaşıyorum.Bana Yardımcı Olabilirmisiniz" class="btn-cta btn btn-outline-white">Whatsap İletişim</a>
        </div>
    </div>
</section>
