@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<section class="inner-page">
    <div class="slider-item py-5" style="background-image: url('/UI/img/slider-2.jpg');">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center text-center">
                <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated">
                    <h1 class="text-white">ŞİRKET ORGANİZASYONU</h1>
                </div>
            </div>
        </div>

    </div>
</section>
<br />
<div class="zn_pb_wrapper clearfix zn_sortable_content" data-droplevel="0">		<section class="zn_section eluid96ca741c     section-sidemargins    section--no " id="eluid96ca741c">

			
			<div class="zn_section_size container zn-section-height--auto zn-section-content_algn--top ">

				<div class="row ">
					
		<div class="eluidd938a7cd            col-md-9 col-sm-9   znColumnElement" id="eluidd938a7cd">

			
			<div class="znColumnElement-innerWrapper-eluidd938a7cd znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">

				<div class="znColumnElement-innerContent">					
        <div class="zn_custom_container eluid301aba78  smart-cnt--default   clearfix">
						
			<div class="row zn_col_container-smart_container ">
			
		<div class="eluidd537e185            col-md-12 col-sm-12   znColumnElement" id="eluidd537e185">

			
			<div class="znColumnElement-innerWrapper-eluidd537e185 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">

				<div class="znColumnElement-innerContent">					<div id="eluid1c198cd2" class="circle-text-box eluid1c198cd2  circletitlebox--light element-scheme--light style2"><div class="circle-headline"><h4 class="wpk-circle-title text-custom" itemprop="headline">Organizasyon</h4></div></div>				</div>
			</div>

			
		</div>
	        </div>
				        </div><!-- /.zn_custom_container -->


		
        <div class="zn_custom_container eluid82837ae5  smart-cnt--default   clearfix">
						
			<div class="row zn_col_container-smart_container ">
			
		<div class="eluidf44414f5            col-md-12 col-sm-12   znColumnElement" id="eluidf44414f5">

			
			<div class="znColumnElement-innerWrapper-eluidf44414f5 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">

				<div class="znColumnElement-innerContent">					<div class="zn_text_box eluid6e53a23b  zn_text_box-light element-scheme--light"><table class="table table-striped">
<thead>
<tr>
<th>ÜNVAN</th>
<th>AD - SOYAD</th>
</tr>
</thead>
<tbody>
<tr>
<td>Genel Müdür</td>
<td>Mehmet Emin Şefkatlıoğlu</td>
</tr>
<tr>
<td>Genel Müdür Yardımcısı</td>
<td>Serkan Emre Şefkatlıoğlu</td>
</tr>
<tr>
<td>Grup Müdürü</td>
<td>Ömer Şefkatlıoğlu</td>
</tr>
<tr>
<td>Grup Müdürü</td>
<td>Enes Avcı</td>
</tr>
<tr>
<td>Grup Müdürü (İş Geliştirme)</td>
<td>Mücahit Avcı</td>
</tr>
<tr>
<td>Grup Müdürü (İhale)</td>
<td>Enes Binici</td>
</tr>
<tr>
<td>Grup Müdür Yardımcısı (İhale)</td>
<td>Burak Taşalan</td>
</tr>
<tr>
<td>Grup Müdür Yardımcısı (İhale)</td>
<td>Erman ÇELİKKOL</td>
</tr>
<tr>
<td>Entegre Yönetim Sistemleri Müdürü</td>
<td>İbrahim Taşalan</td>
</tr>
<tr>
<td>Muhasebe ve Bütçe Direktörü</td>
<td>Bilal ÖZGER</td>
</tr>
<tr>
<td>Proje Kontrol Müdürü</td>
<td>Emrah ERDİRİK</td>
</tr>
<tr>
<td>Sözleşmeler Müdürü</td>
<td>Ayşegül YURT</td>
</tr>
<tr>
<td>İnsan Kaynakları Müdürü</td>
<td>Nurdan KABAKCI</td>
</tr>
</tbody>
</table>
</div>				</div>
			</div>

			
		</div>
	        </div>
				        </div><!-- /.zn_custom_container -->


						</div>
			</div>

			
		</div>
	
		<div class="eluid31c8f916            col-md-3 col-sm-3   znColumnElement" id="eluid31c8f916">

			
			<div class="znColumnElement-innerWrapper-eluid31c8f916 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">

				<div class="znColumnElement-innerContent">								<div class="zn_separator clearfix eluid333d40d6 zn_separator--icon-no "></div>
		
					</div>
			</div>

			
		</div>
	
				</div>
			</div>

					</section>


		</div>

<section class="section border-t">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate fadeInUp element-animated">
            <div class="col-md-8 text-center mb-5">
                <h2 class="text-uppercase heading border-bottom mb-4">YÖNETİCİLERİMİZ</h2>
                <p class="mb-0 lead">
                    Geleceğe emin adımlar ile yürüyen Şefkat İnşaat projelerini keşfedin.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 element-animate fadeInUp element-animated">
                <div class="media d-block media-testimonial text-center">
                    <img src="~/UI/img/eminlogo.jpeg" alt="Image placeholder" class="img-fluid mb-3">
                    <p>Mehmet Emin Şefkatlıoğlu, <a href="#"></a></p>
                    <div class="media-body">
                        <blockquote>
                            <p>“ 1972 yılından itibaren faaliyet gösterdiğimiz sektörde önce taahhüt işleri sonrasında ise İstanbul merkezli konut ve ticari binalar yapmaya başladık. İlk dönemlerde ortaklık şeklinde devam eden inşaatlarımızı 1983 yılından itibaren ŞEFKAT İNŞAAT A.Ş’yi kurarak devam ettirdik.”</p>
                        </blockquote>

                    </div>
                </div>
            </div>

            <div class="col-md-6 element-animate fadeInUp element-animated">
                <div class="media d-block media-testimonial text-center">
                    <img src="~/UI/img/kanbazlogo.jpg" alt="Image placeholder" class="img-fluid mb-3">
                    <p>Mehmet Kanbaz, <a href="https://twitter.com/EminSefkatli"></a></p>
                    <div class="media-body">
                        <blockquote>
                            <p>“İlk dönemlerde ortaklık şeklinde devam eden inşaatlarımızı 1983 yılından itibaren ŞEFKAT İNŞAAT A.Ş’yi kurarak devam ettirdik.”.”</p>
                        </blockquote>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="container cta-overlap">
    <div class="text d-flex">
        <h2 class="h3">Projeler İçin veya Teklif Almak İçin Bize Ulaşın</h2>
        <div class="ml-auto btn-wrap">
            <a href="https://wa.me/905426631002?text=Merhaba,Şefkat inşaattan ulaşıyorum.Bana Yardımcı Olabilirmisiniz" class="btn-cta btn btn-outline-white">Whatsap İletişim</a>
        </div>
    </div>
</section>