@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<section class="inner-page">
    <div class="slider-item py-5" style="background-image: url('/UI/img/slider-1.jpg');">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center text-center">
                <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated">
                    <h1 class="text-white">VERİ KORUMA</h1>
                </div>
            </div>
        </div>

    </div>
</section>
<br />

<div id="main" class="sidebar-right sidebar-divider-off">
    <div class="main-gradient"></div>
    <div class="wf-wrap">
        <div class="wf-container-main">
            <div id="content" class="content" role="main">
                <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><h1 style="color: #1f365c;text-align: left" class="vc_custom_heading">GENEL AYDINLATMA METNİ</h1></div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="hr-thin style-line hr-left" style="width: 430px;border-color: #ffb536;border-top-width: 3px;"></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid">
                    <br />
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p><strong>1. Veri Sorumlusunun Kimliği</strong></p>
                                        <p>Şefkat İnşaat Sanayi ve Ticaret Anonim Şirket (“<strong>Şefkat İnşaat</strong>” veya “<strong>Şirket</strong>”) olarak, 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”) kapsamında ve veri sorumlusu sıfatıyla, elde ettiğimiz kişisel verilere ilişkin olarak aydınlatma metnimizi bilgilerinize sunuyoruz:</p>
                                        <p>&nbsp;</p>
                                        <p><strong>2. Kişisel Verilerin İşlenmesi ve İşleme Amaçları</strong></p>
                                        <p>Şefkat İnşaat tarafından sunulan hizmet ya da ticari faaliyete ilişkin olarak değişkenlik gösterebilmekle beraber Şirketimiz tarafından hizmetlerin en iyi şekilde sunulabilmesini sağlamak maksadıyla aşağıda belirtilen veri sahiplerine ait kişisel veriler işlenebilmektedir. Bu kapsamda;</p>
                                        <ul>
                                            <li><strong>Şirketimizin ve Şirketimizin bağlı bulunduğu topluluk şirketlerinin gerçek kişi tacir veya tüzel kişi tedarikçilerin/alt işverenlerin/iş ortaklarının/hizmetlerinden yararlandığı üçüncü kişilerin çalışanı/irtibat kişisi/ortağı/yetkilisi olmanız halinde </strong>kimlik, iletişim, özlük (özgeçmiş), hukuki işlem bilgileri, fiziksel mekân güvenliği, risk yönetimi, finans (IBAN/banka hesap bilgileri), mesleki deneyim, görsel ve işitsel kayıtlarınız ayrıca sizin veya işvereninizin paylaşması halinde özel nitelikli kişisel verilerinizden sağlık ve ceza mahkûmiyeti ve güvenlik tedbirleri verileriniz ile kimlik belgelerinde yer alan din ve kan grubu bilgileriniz (dolaylı olarak kimlik/ehliyet sureti aracılığıyla temin edilebilmektedir.) Şirketimiz faaliyetleri kapsamında sözleşme süreçleri ile mal ve hizmet alım süreçlerinin yürütülmesi, iş faaliyetlerinin yürütülmesi ve denetimi, iş sürekliliğinin sağlanması faaliyetlerinin yürütülmesi, finans ve muhasebe işlerinin yürütülmesi, görevlendirme süreçlerinin yürütülmesi, denetim faaliyetlerin yürütülmesi, erişim yetkilerinin yürütülmesi, hukuk işlerinin takibi ile yürütülmesi, performans değerlendirme süreçlerinin yürütülmesi, sponsorluk/yardım faaliyetlerinin yürütülmesi, iş sağlığı ve güvenliği faaliyetlerinin yürütülmesi, yabancı tedarikçi personeli için çalışma ve oturma izni işlemleri, iletişim faaliyetlerinin yürütülmesi, kurumsal iletişim süreçleri kapsamında basın bülteni oluşturulması, otel, uçak rezervasyonları dâhil organizasyon ve etkinlik yönetimi, lojistik ve kargo faaliyetlerin yürütülmesi, risk yönetimi süreçlerinin yürütülmesi, iç denetim/soruşturma/istihbarat faaliyetlerinin yürütülmesi, talep halinde yetkili kişi, kurum ve kuruluşlara bilgi verilmesi, bilgi sistemlerinin sürekliliğinin sağlanması, saklama ve arşiv süreçlerinin yürütülmesi</li>
                                        </ul>
                                        <p>&nbsp;</p>
                                        <ul>
                                            <li><strong>Şirketimizin bağlı bulunduğu topluluk şirketlerinin çalışanı/irtibat kişisi/ortağı/yetkilisi veya Şirketimizin bağlı bulunduğu topluluk şirketlerinin gerçek kişi tacir veya tüzel kişi müşterilerinin çalışanı/irtibat kişisi/ortağı/yetkilisi olmanız halinde </strong>kimlik, iletişim, finans (IBAN/banka hesap bilgisi) müşteri işlem, hukuki işlem verileriniz sözleşme süreçlerinin yürütülmesi, finans ve muhasebe işlerinin yürütülmesi, müşteri ilişkileri yönetimi süreçlerinin yürütülmesi, erişim yetkilerinin yürütülmesi, hukuk işlerinin yürütülmesi, iş faaliyetlerinin yürütülmesi ve denetimi, denetim/etik faaliyetleri ile iç denetim/soruşturma/istihbarat faaliyetlerinin yürütülmesi, yurtiçi/yurtdışı ihalelere katılınması, talep edilmesi halinde yetkili kişi, kurum ve kuruluşlara bilgi verilmesi, bilgi sistemlerinin sürekliliğinin sağlanması, saklama ve arşiv süreçlerinin yürütülmesi</li>
                                        </ul>
                                        <ul>
                                            <li><strong>İşyerimizi ziyaret etmeniz halinde,</strong> kimlik, fiziksel mekan güvenliği verileriniz ziyaretçi kayıtlarının oluşturulması ve takibi, fiziksel mekân güvenliğinin temini, iş kazası olması durumunda iş sağlığı ve güvenliği süreçlerinin yürütülmesi, talep halinde yetkili kişi, kurum ve kuruluşlara bilgi verilmesi,</li>
                                        </ul>
                                        <p>&nbsp;</p>
                                        <ul>
                                            <li>İnternet sitemizi ziyaret etmeniz halinde işlem güvenliği verileriniz ile Şirketimizin kablosuz ağ bağlantımızı kullanmanız halinde kimlik, iletişim, işlem güvenliği verileriniz 5651 sayılı kanun gereğince mevzuattan kaynaklanan yükümlülüklerin yerine getirilmesi, elektronik ortamda oluşan log kayıtlarının tutulması, bilgi güvenliği süreçlerinin yürütülmesi,</li>
                                        </ul>
                                        <p>faaliyetlerin mevzuata ve Şirket politika ve prosedürlerine uygun yürütülmesi amaçlarıyla sınırlı olarak işlenebilecektir. Kişisel verileriniz ayrıca fiziki arşivler ve bilişim sistemlerine nakledilerek hem dijital hem fiziki ortamlarda muhafaza edilebilecektir.</p>
                                        <p>&nbsp;</p>
                                        <p><strong>3. İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçlar ile Aktarılabileceği</strong></p>
                                        <p>Toplanan kişisel verileriniz, işbu Aydınlatma Metni’nin 2. maddesinde açıklanan amaçlarla ve Kanun ile ilgili mevzuat kapsamında ve aktarılmasını gerektiren sebeplere bağlı ve bu sebeplerle sınırlı olarak; talep halinde resmi kurum ve kuruluşlara, bankalara, basın kurumlarına, danışmanlık ve denetim firmalarına, seyahat acentelerine, iş ortaklarımıza ve tedarikçilerimiz dâhil olmak üzere hizmetlerinden faydalandığımız ve işbirliği içerisinde olduğumuz firmalara, Şirket’in ve Şirket’in bağlı bulunduğu Şefkat İnşaat şirketler topluluğu politika ve prosedürlerine uyum sağlanması, operasyonel süreçlerin yürütülmesi ve destek alınması,&nbsp; yurtiçi/yurtdışı ihalelere katılınması amaçlarıyla topluluk şirketlerine ve onlarla ortak kullanılan veri tabanlarına, yurt içi ve yurt dışında bulunan teknolojileri hizmeti sunan firmaların sistemlerine aktarılabilecektir.</p>
                                        <p>&nbsp;</p>
                                        <p><strong>4. Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi</strong></p>
                                        <p>Kişisel verileriniz, işbu Aydınlatma Metni’nin 2. maddesinde açıklanan amaçlar ile Kanun’da öngörülen temel ilkelere uygun olarak Kanun’un 5. maddesinde belirtilen; veri sorumlusunun hukuki yükümlülüğü, hakkın tesisi, kullanılması veya korunması, sözleşmenin kurulması veya ifası, veri sorumlusunun meşru menfaati hukuki sebeplerine dayalı ve bunlarla sınırlı olarak; otomatik veya otomatik olmayan yöntemlerle, tarafınızca veya işvereniniz vasıtasıyla doğrudan veya elektronik posta adresimiz vasıtasıyla iletilen sözlü veya yazılı bilgiler, Şirket faaliyetleri kapsamında kullanılan uygulama ve yazılımlar ve kamera kayıtları aracılığıyla toplanabilmektedir.</p>
                                        <p>&nbsp;</p>
                                        <p><strong>5. Kişisel Verilerin Korunmasına Yönelik Haklarınız</strong></p>
                                        <p>Kişisel verilerin korunması mevzuatı çerçevesinde, kişisel verilerinizin; işlenip işlenmediğini öğrenme, işlenmişse buna ilişkin bilgi talep etme, işlenme amacını ve tarafımızca bu amaçlara uygun olarak kullanıp kullanılmadığını öğrenme, yurt içinde veya yurt dışında aktarıldığı üçüncü kişileri öğrenme, eksik veya yanlış işlenmiş olması halinde düzeltilmesini ve aktarılmışsa aktarılan üçüncü kişilere de bildirilmesini talep etme, işlenme şartlarının ortadan kalkması halinde silinmesini veya yok edilmesini ve aktarılmışsa aktarılan üçüncü kişilere de bildirilmesini talep etme, işlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle aleyhinize bir sonucun ortaya çıktığını düşünüyorsanız bu duruma itiraz etme, Kanuna aykırı olarak işlenmesi sebebiyle bir zarara uğramanız halinde bu zararın giderilmesini talep etme haklarınız mevcuttur.</p>
                                        <p>&nbsp;</p>
                                        <p>Kanunun ilgili kişinin haklarını düzenleyen 11. maddesi kapsamındaki taleplerinizi, <a href="https://www.cengiz-insaat.com.tr/wp-content/uploads/2020/09/Cengiz-%C4%B0n%C5%9Faat_Ba%C5%9Fvuru-Formu.pdf" target="_blank" rel="noopener">linkdeki</a> form ile “Veri Sorumlusuna Başvuru Usul ve Esasları Hakkında Tebliğ” uyarınca Altunizade, Kısıklı Cd. No:37, 34662 Üsküdar/İstanbul adresine yazılı olarak ve kimlik teyidinizin yapılması sağlanarak bizzat veya Tebliğ’de belirtilen diğer yöntemlere uygun olarak iletebilirsiniz.</p>
                                        <p>&nbsp;</p>
                                        <p>Şirketimiz, Kanunu’nun 13. maddesine uygun olarak, başvuru taleplerini, talebin niteliğine göre ve en geç 30 (otuz) gün içinde sonuçlandıracaktır. İşlemin maliyet gerektirmesi halinde, Kişisel Verilerin Korunması Kurulu tarafından belirlenen tarife uygulanacaktır. Talebin reddedilmesi halinde, ret nedeni/nedenleri yazılı olarak veya elektronik ortamda gerekçelendirilecektir.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- #content -->

        </div><!-- .wf-container -->
    </div><!-- .wf-wrap -->
</div>

<br />
<br />


<section class="section border-t">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate fadeInUp element-animated">
            <div class="col-md-8 text-center mb-5">
                <h2 class="text-uppercase heading border-bottom mb-4">YÖNETİCİLERİMİZ</h2>
                <p class="mb-0 lead">
                    Geleceğe emin adımlar ile yürüyen Şefkat İnşaat projelerini keşfedin.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 element-animate fadeInUp element-animated">
                <div class="media d-block media-testimonial text-center">
                    <img src="~/UI/img/eminlogo.jpeg" alt="Image placeholder" class="img-fluid mb-3">
                    <p>Mehmet Emin Şefkatlıoğlu, <a href="#"></a></p>
                    <div class="media-body">
                        <blockquote>
                            <p>“ 1972 yılından itibaren faaliyet gösterdiğimiz sektörde önce taahhüt işleri sonrasında ise İstanbul merkezli konut ve ticari binalar yapmaya başladık. İlk dönemlerde ortaklık şeklinde devam eden inşaatlarımızı 1983 yılından itibaren ŞEFKAT İNŞAAT A.Ş’yi kurarak devam ettirdik.”</p>
                        </blockquote>

                    </div>
                </div>
            </div>

            <div class="col-md-6 element-animate fadeInUp element-animated">
                <div class="media d-block media-testimonial text-center">
                    <img src="~/UI/img/kanbazlogo.jpg" alt="Image placeholder" class="img-fluid mb-3">
                    <p>Mehmet Kanbaz, <a href="https://twitter.com/EminSefkatli"></a></p>
                    <div class="media-body">
                        <blockquote>
                            <p>“İlk dönemlerde ortaklık şeklinde devam eden inşaatlarımızı 1983 yılından itibaren ŞEFKAT İNŞAAT A.Ş’yi kurarak devam ettirdik.”.”</p>
                        </blockquote>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="container cta-overlap">
    <div class="text d-flex">
        <h2 class="h3">Projeler İçin veya Teklif Almak İçin Bize Ulaşın</h2>
        <div class="ml-auto btn-wrap">
            <a href="https://wa.me/905426631002?text=Merhaba,Şefkat inşaattan ulaşıyorum.Bana Yardımcı Olabilirmisiniz" class="btn-cta btn btn-outline-white">Whatsap İletişim</a>
        </div>
    </div>
</section>